@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

h1 {
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
}

h2 {
    color: #000000;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
 }


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


p {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

/* INICIO DA PAGINA 1 */

.quizzEmBranco {
    margin-top: 146px;
    width: 1051px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quizzEmBranco span {
    color: #B9B9B9;
    font-size: 20px;
    font-weight: 400;
}

.quizzEmBranco div:first-child {
    margin-top: 40px;
}

.quizzEmBranco .botao {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 80px;
}

.quizzEmBranco .botao span{
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
}

.areaQuizzes {
    width: 1051px;
    margin-top: 30px;
}

.meusQuizzes {
    width: 1051px;
    margin-top: 30px;
}

.quizzes {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.quizzIndividual {
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 10px;
}

.quizzIndividual img{
    width: 340px;
    height: 181px;
}

.quizzIndividual p{
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    bottom:15px;
    left: 10px;
}

.meusQuizzes {
    margin-top: 146px;
}

.meusQuizzes ion-icon {
    color: red;
    font-size: 25px;
    margin-left: 14px;
    cursor: pointer;
}


.esconder {
    display: none !important;
}

.texto-icone {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* FIM DA PAGINA 1 */

/* INICIO DA PAGINA 2 */

.imagem-topo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imagem-topo img {
    width: 100%;
    height: 227px;
}

.imagem-topo p {
    font-weight: 400;
    font-size: 39px;
    color: #FFFFFF;
    position: absolute;
    margin-top: 55px;
}

.pergunta {
    width: 759px;
    height: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraTopo {
    width: 688px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434CA0;;
    margin-top: 28px;
}

.barraTopo span {
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}

.opcoesResposta {
    display: flex;
    flex-wrap: wrap;
    margin-left: 36px;
    margin-top: 10px;
}

.opcao {
    margin-right: 25px;
    margin-bottom: 10px;
}

.opcao img {
    width: 330px;
    height: 175px;
}

.opcao span {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.areaResultado {
    width: 759px;
    height: 430px;
    background: #FFFFFF;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.cabecalho{
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.cabecalho span {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
}

.informacoes {
    display: flex;
    margin-left: 16px;
    margin-top: 10px;
}

.informacoes img {
    width: 364px;
    height: 273px;
}

.informacoes p {
    color: #484848;
    font-weight: 700;
    font-size: 19px;
}

.informacoes div {
    width: 328px;
    height: 250px;
    margin-left: 12px;
}

.botaoReiniciarQuizz{
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.botaoReiniciarQuizz span {
    color: #FFF5F4;
    font-weight: 400;
    font-size: 21px;
}

.botaoVoltarHome {
    width: 219px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.botaoVoltarHome span {
    color: #818181;
    font-size: 21px;
    font-weight: 400;
}

/* FIM DA PAGINA 2 */

/* INICIO DA PAGINA 3 */

.inicio {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 564px;
    height: 64px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    color: #BABABA;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    margin-left: 50px;
}

.botaoProsseguir {
    width: 368px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 20px;
}

.botaoProsseguir span {
    color: #FFF5F4;
    font-weight: 400;
    font-size: 21px;
}

.criarPerguntas {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacaoPergunta {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.espacamento {
    height: 10px;
}
 .engloba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 601px;
    height: 74px;
 }

 .engloba ion-icon{
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
 }

 .oculto {
    display: flex;
    flex-direction: column;
 }

.criarNiveis {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacaoNivel {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.areaFinal {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maior img{
    width: 500px;
    height: 266px;
    margin-top: 20px;
    margin-bottom: 10px;
}


@media (max-width: 1100px){

}